<h1>pag.index</h1>

<button type="button" class="btn btn-outline-primary">
  <%= link_to 'crear nuevo', todos_new_path %>
</button>


<% @todos.each do |t| %>
<div class = "well">
  <div class= "col-md-6">
    <br></br>
  <%= t.description %>

  <%= t.completed %>

  </div>
  <div class="btn-group btn-group-sm" role="group" aria-label="...">
  <button type="button" class="btn btn-outline-primary">
  <%= link_to 'show', t %>
  </button>
  <button type="button" class="btn btn-outline-secondary">
  <%= link_to 'edit', edit_path(t) %>
  </button>
  <button type="button" class="btn btn-outline-success">
  <%= link_to 'destroy', destroy_path(t),method: :delete %>
  </button>
  <button type="button" class="btn btn-outline-danger">
  <%= link_to 'complete', complete_path(t) %>
  </button>
</div>
</div>
<% end %>
